# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environments
.venv/

# Editor
.vscode/

# Outputs
outputs/*
!outputs/.gitkeep

# Datasets (don't commit)
data/sroie_v2/
data/sroie_v2/**

# model weights
data/SROIE2019/layoutlm-base-uncased/
*.bin

# optional: ignore dataset artifacts too
data/SROIE2019/